
body{
  background-color: cadetblue;
}

.registration-form{
	width: 700px;
  margin: 10px auto;
}

h1{
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}

#container{
   width: 700px;
   height: 500px;
  border: 1px solid grey;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
  background-color: aliceblue;
  box-shadow: 20px 20px 50px 15px grey;
}

span{
  color: rgb(6, 128, 128);
}

#btn{
color: rgb(255, 255, 255);
}

#btn:hover{
  background-color: rgb(66, 66, 255);
}